body {
    margin:0;
    font-family:Arial;
}

header {
    display:flex;
    justify-content:space-between;
    padding:15px;
    background:#2c3e50;
    color:#fff
}

.products {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
    padding:15px
}

.card {
    border:1px solid #ccc;
    padding:10px;
    text-align:center
}

img {
    width:100%;
    height:150px;
    object-fit: contain;
}

button {
    background:#27ae60;
    color:#fff;
    border:none;
    padding:8px;
    cursor:pointer
}

@media(max-width:768px){
.products{grid-template-columns:1fr}
}
